Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

feat(deps): use alexfalkowski/root:2.5 (#1240)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1241)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update pulumi to v3.232.0
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, k8s, release, ruby

feat(k8s): update pulumi to v3.232.0 (#1242)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, k8s, release, ruby

build(ci): use latest published images (#1243)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): add otel delivery telemetry
  .circleci/continue_config.yml
  .editorconfig
  .gitignore
  grafana/delivery.json
  release/Dockerfile
  release/Makefile
  release/deploy
  release/oteldel.sh
  release/oteldel/Makefile
  release/oteldel/cmd/oteldel/doc.go
  release/oteldel/cmd/oteldel/main.go
  release/oteldel/go.mod
  release/oteldel/go.sum
  release/oteldel/internal/args/args.go
  release/oteldel/internal/args/args_test.go
  release/oteldel/internal/args/doc.go
  release/oteldel/internal/config/config.go
  release/oteldel/internal/config/config_test.go
  release/oteldel/internal/config/doc.go
  release/oteldel/internal/export/doc.go
  release/oteldel/internal/export/export.go
  release/oteldel/internal/export/export_test.go
  release/package
  release/version
  scripts/lint
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): update go-size-analyzer to v1.12.5
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update go-size-analyzer to v1.12.5 (#1247)
  go/Dockerfile
  go/Makefile
Due: go

feat(root): update bazelisk to v1.29.0
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update bazelisk to v1.29.0 (#1248)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use alexfalkowski/root:2.6
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:2.6 (#1249)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1250)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(deps): bump image versions
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): bump image versions (#1253)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

docs(readme): compress agent guidance
  AGENTS.md
  README.md
Due: none

docs(readme): compress agent guidance (#1254)
  AGENTS.md
  README.md
Due: none

build(ci): use latest published images (#1255)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(deps): upgraded github.com/alexfalkowski/bin
  AGENTS.md
Due: none

build(deps): upgraded github.com/alexfalkowski/bin (#1257)
  AGENTS.md
Due: none

feat(scripts): share common image tool installers
  docker/Dockerfile
  docker/scripts/install-image-tool.d/.keep
  go/Dockerfile
  go/Makefile
  go/scripts/install-image-tool.d/hadolint
  go/scripts/install-image-tool.d/shellcheck
  ruby/Dockerfile
  ruby/Makefile
  ruby/scripts/install-image-tool.d/.keep
  ruby/scripts/install-image-tool.d/buf
  ruby/scripts/install-image-tool.d/codecov
  ruby/scripts/install-image-tool.d/dockerize
  ruby/scripts/install-image-tool.d/hadolint
  ruby/scripts/install-image-tool.d/mkcert
  ruby/scripts/install-image-tool.d/shellcheck
  ruby/scripts/install-image-tool.d/trivy
  scripts/install-image-tool.d/buf
  scripts/install-image-tool.d/codecov
  scripts/install-image-tool.d/dockerize
  scripts/install-image-tool.d/hadolint
  scripts/install-image-tool.d/mkcert
  scripts/install-image-tool.d/shellcheck
  scripts/install-image-tool.d/trivy
  scripts/lint
Due: docker, go, ruby

feat(scripts): share common image tool installers (#1258)
  docker/Dockerfile
  docker/scripts/install-image-tool.d/.keep
  go/Dockerfile
  go/Makefile
  go/scripts/install-image-tool.d/hadolint
  go/scripts/install-image-tool.d/shellcheck
  ruby/Dockerfile
  ruby/Makefile
  ruby/scripts/install-image-tool.d/.keep
  ruby/scripts/install-image-tool.d/buf
  ruby/scripts/install-image-tool.d/codecov
  ruby/scripts/install-image-tool.d/dockerize
  ruby/scripts/install-image-tool.d/hadolint
  ruby/scripts/install-image-tool.d/mkcert
  ruby/scripts/install-image-tool.d/shellcheck
  ruby/scripts/install-image-tool.d/trivy
  scripts/install-image-tool.d/buf
  scripts/install-image-tool.d/codecov
  scripts/install-image-tool.d/dockerize
  scripts/install-image-tool.d/hadolint
  scripts/install-image-tool.d/mkcert
  scripts/install-image-tool.d/shellcheck
  scripts/install-image-tool.d/trivy
  scripts/lint
Due: docker, go, ruby

docs(readme): update installer snippet guidance
  AGENTS.md
  README.md
Due: none

docs(readme): update installer snippet guidance (#1259)
  AGENTS.md
  README.md
Due: none

feat(scripts): pass installer versions as arguments
  AGENTS.md
  README.md
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  go/scripts/install-image-tool.d/golangci-lint
  k8s/Dockerfile
  k8s/Makefile
  k8s/scripts/install-image-tool.d/doctl
  k8s/scripts/install-image-tool.d/helm
  k8s/scripts/install-image-tool.d/kubectl
  k8s/scripts/install-image-tool.d/kubescape
  k8s/scripts/install-image-tool.d/pulumi
  k8s/scripts/install-image-tool.d/vegeta
  release/Dockerfile
  release/Makefile
  release/scripts/install-image-tool.d/gh
  release/scripts/install-image-tool.d/goreleaser
  release/scripts/install-image-tool.d/uplift
  root/Dockerfile
  root/Makefile
  root/scripts/install-image-tool.d/bazelisk
  root/scripts/install-image-tool.d/go
  root/scripts/install-image-tool.d/ruby
  ruby/Dockerfile
  ruby/Makefile
  scripts/install-image-tool
  scripts/install-image-tool.d/buf
  scripts/install-image-tool.d/codecov
  scripts/install-image-tool.d/dockerize
  scripts/install-image-tool.d/hadolint
  scripts/install-image-tool.d/mkcert
  scripts/install-image-tool.d/shellcheck
  scripts/install-image-tool.d/trivy
Due: docker, go, k8s, release, root, ruby

feat(scripts): pass installer versions as arguments (#1260)
  AGENTS.md
  README.md
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  go/scripts/install-image-tool.d/golangci-lint
  k8s/Dockerfile
  k8s/Makefile
  k8s/scripts/install-image-tool.d/doctl
  k8s/scripts/install-image-tool.d/helm
  k8s/scripts/install-image-tool.d/kubectl
  k8s/scripts/install-image-tool.d/kubescape
  k8s/scripts/install-image-tool.d/pulumi
  k8s/scripts/install-image-tool.d/vegeta
  release/Dockerfile
  release/Makefile
  release/scripts/install-image-tool.d/gh
  release/scripts/install-image-tool.d/goreleaser
  release/scripts/install-image-tool.d/uplift
  root/Dockerfile
  root/Makefile
  root/scripts/install-image-tool.d/bazelisk
  root/scripts/install-image-tool.d/go
  root/scripts/install-image-tool.d/ruby
  ruby/Dockerfile
  ruby/Makefile
  scripts/install-image-tool
  scripts/install-image-tool.d/buf
  scripts/install-image-tool.d/codecov
  scripts/install-image-tool.d/dockerize
  scripts/install-image-tool.d/hadolint
  scripts/install-image-tool.d/mkcert
  scripts/install-image-tool.d/shellcheck
  scripts/install-image-tool.d/trivy
Due: docker, go, k8s, release, root, ruby

feat(deps): update images to root 2.8
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): update images to root 2.8 (#1261)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby
