Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): upgrade gocovmerge to v2.25.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): upgrade gocovmerge to v2.25.0 (#1194)
  go/Dockerfile
  go/Makefile
Due: go

feat(release): update goreleaser to v2.15.2
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.15.2 (#1195)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1196)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): update gocovmerge to v2.26.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update gocovmerge to v2.26.0 (#1197)
  go/Dockerfile
  go/Makefile
Due: go

feat(root): use cimg/base:2026.04-24.04
  root/Dockerfile
  root/Makefile
Due: root

feat(root): use cimg/base:2026.04-24.04 (#1201)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use alexfalkowski/root:2.1
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:2.1 (#1202)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1203)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(buf): update to v1.67.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(buf): update to v1.67.0 (#1204)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(k8s): update pulumi to v3.229.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.229.0 (#1205)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): update go to v1.26.2
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.26.2 (#1207)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use alexfalkowski/root:2.2
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:2.2 (#1208)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1209)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update pulumi to v3.230.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.230.0 (#1211)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(compose): use docker.io/hectorvent/floci
  compose.yml
Due: none

feat(compose): use docker.io/hectorvent/floci (#1212)
  compose.yml
Due: none

feat(go): update go-size-analyzer to v1.12.1
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update go-size-analyzer to v1.12.1 (#1213)
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update go-size-analyzer to v1.12.4
  go/Dockerfile
  go/Makefile
Due: go

feat(release): update goreleaser to v2.15.3
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.15.3 (#1216)
  release/Dockerfile
  release/Makefile
Due: release

feat(buf): update to v1.68.1
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(buf): update to v1.68.1 (#1217)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

build(ci): use latest published images (#1218)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update pulumi to v3.231.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
