Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

chore(release): v1.634.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1154)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

fix(hadolint): make sure it works across archs
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

fix(hadolint): make sure it works across archs (#1155)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

chore(release): v1.634.1 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1156)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(root): update to ruby-3.4.9
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update to ruby-3.4.9 (#1157)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.635.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.68
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.68 (#1158)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.636.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1159)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): add sync
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): add sync (#1160)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): working_directory: ~/docker
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): working_directory: ~/docker (#1161)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): update gh to v2.88.1
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update gh to v2.88.1 (#1163)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.637.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1164)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update pulumi to v3.226.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.226.0 (#1165)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

chore(release): v1.638.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update kubescape to v4.0.3
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update kubescape to v4.0.3 (#1167)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

chore(release): v1.639.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.69.3
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(trivy): update to v0.69.3 (#1168)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

chore(release): v1.640.0 [ci skip]
  CHANGELOG.md
Due: none

feat(codecov): update to v11.2.7
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(codecov): update to v11.2.7 (#1169)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

chore(release): v1.641.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.227.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
