Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

feat(root): updated ruby to 4.0.7
  root/Dockerfile
  root/Makefile
Due: root

feat(root): updated ruby to 4.0.7 (#1742)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): updated root to 3.20
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated root to 3.20 (#1744)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1745)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.263.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.263.0 (#1746)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(go): update go tools
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update go tools (#1747)
  go/Dockerfile
  go/Makefile
Due: go

feat(k8s): updated pulumi to 3.264.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.264.0 (#1748)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(go): updated golangci-lint to 2.14.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated golangci-lint to 2.14.0 (#1750)
  go/Dockerfile
  go/Makefile
Due: go

feat(k8s): updated doctl to 1.164.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.174.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.174.0 (#1752)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.265.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.265.0 (#1754)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.175.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.175.0 (#1755)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

updated trivy to 0.75.0
  docker/Dockerfile-E
  docker/Makefile
  go/Dockerfile-E
  go/Makefile
  ruby/Dockerfile-E
  ruby/Makefile
Due: docker, go, ruby

feat(deps): updated trivy to 0.75.0
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

feat(deps): updated trivy to 0.75.0 (#1759)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

feat(go): updated gsa to 1.14.1
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated gsa to 1.14.1 (#1760)
  go/Dockerfile
  go/Makefile
Due: go

build(ci): use latest published images (#1761)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel
