Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): use tag handoff for packaging
  release/Makefile
  release/package
  release/version
Due: release

feat(release): use tag handoff for packaging (#1434)
  release/Makefile
  release/package
  release/version
Due: release

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1435)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.246.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.246.0 (#1438)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(status): remove retry
  status/server.yml
Due: none

feat(status): remove retry (#1439)
  status/server.yml
Due: none

feat(k8s): updated kubectl to 1.36.2
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubectl to 1.36.2 (#1440)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(docker): install trivy in tool image
  docker/Dockerfile
  docker/Makefile
Due: docker

feat(docker): install trivy in tool image (#1442)
  docker/Dockerfile
  docker/Makefile
Due: docker

build(ci): use latest published images (#1443)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(trivy): scan images before publishing
  .circleci/config.yml
  .circleci/continue_config.yml
  AGENTS.md
  README.md
  make/docker.mk
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(trivy): scan images before publishing (#1441)
  .circleci/config.yml
  .circleci/continue_config.yml
  AGENTS.md
  README.md
  make/docker.mk
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

docs(readme): clarify image workflows
  .gitignore
  README.md
Due: none

docs(readme): clarify image workflows (#1444)
  .gitignore
  README.md
Due: none

feat(deps): updated trivy to 0.72.0
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

docs(readme): clarify image and stack operations
  AGENTS.md
  Makefile
  README.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

docs(readme): clarify image and stack operations (#1452)
  AGENTS.md
  Makefile
  README.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
