Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

chore(release): v1.521.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update golangci-lint to v2.6.1
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update golangci-lint to v2.6.1 (#977)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.522.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#978)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(root): update go to v1.25.4
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.25.4 (#979)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.523.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.55
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.55 (#980)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.524.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#981)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update kubescape to v3.0.44
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update kubescape to v3.0.44 (#983)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.525.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): update pulumi to v3.207.0
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

feat(deps): update pulumi to v3.207.0 (#984)
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.526.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#985)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(deps): update buf to v1.60.0
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(deps): update buf to v1.60.0 (#986)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.527.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.208.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.208.0 (#987)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.528.0 [ci skip]
  CHANGELOG.md
Due: none

feat(buf): update to v1.61.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(buf): update to v1.61.0 (#988)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.529.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.209.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.209.0 (#989)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.530.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use cimg/base:2025.12-24.04
  root/Dockerfile
  root/Makefile
Due: root

feat(root): use cimg/base:2025.12-24.04 (#991)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.531.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.56
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.56 (#992)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.532.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
