Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

feat(release): updated goreleaser to 2.17.1
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated goreleaser to 2.17.1 (#1665)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1666)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.255.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.255.0 (#1668)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(deps): updated hadolint to 2.15.0
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
  scripts/install-image-tool.d/hadolint
Due: docker, go, ruby

feat(deps): updated hadolint to 2.15.0 (#1669)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
  scripts/install-image-tool.d/hadolint
Due: docker, go, ruby

feat(k8s): updated doctl to 1.165.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.165.0 (#1670)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

build(ci): use latest published images
  .circleci/continue_config.yml
  docker/.hadolint.yaml
  go/.hadolint.yaml
  k8s/.hadolint.yaml
  release/.hadolint.yaml
  root/.hadolint.yaml
  ruby/.hadolint.yaml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1671)
  .circleci/continue_config.yml
  docker/.hadolint.yaml
  go/.hadolint.yaml
  k8s/.hadolint.yaml
  release/.hadolint.yaml
  root/.hadolint.yaml
  ruby/.hadolint.yaml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): updated gh to 2.97.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated gh to 2.97.0 (#1673)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images (#1674)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated doctl to 1.166.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.166.0 (#1676)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s
