Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

feat(release): update goreleaser to v2.12.2
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.12.2 (#926)
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.489.0 [ci skip]
  CHANGELOG.md
Due: none

build(codecov): update to v11.2.3
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

build(codecov): update to v11.2.3 (#927)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(root): update system gems
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update system gems (#928)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.490.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use alexfalkowski/root:1.49
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use alexfalkowski/root:1.49 (#929)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.491.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update golangci-lint to v2.5.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update golangci-lint to v2.5.0 (#930)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.492.0 [ci skip]
  CHANGELOG.md
Due: none

feat(hadolint): update to v2.14.0
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, ruby

feat(hadolint): update to v2.14.0 (#931)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, ruby

chore(release): v1.493.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.198.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.198.0 (#933)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.494.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.67.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(trivy): update to v0.67.0 (#934)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.495.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update goreleaser to v2.12.4
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.12.4 (#935)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.496.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#936)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

refactor(go): DL3062 warning: Pin versions in go
  go/Dockerfile
Due: none

refactor(go): DL3062 warning: Pin versions in go (#937)
  go/Dockerfile
Due: none

feat(root): use cimg/base:2025.10-24.04
  root/Dockerfile
  root/Makefile
Due: root

feat(root): use cimg/base:2025.10-24.04 (#939)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.497.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.50
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.50 (#940)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.498.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#941)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.199.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.199.0 (#942)
  k8s/Dockerfile
  k8s/Makefile
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
