Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

feat(trivy): update to v0.69.1 (#1076)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.582.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.220.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.220.0 (#1077)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.583.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update go to v1.26 and ruby to v4.0.1
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.26 and ruby to v4.0.1 (#1078)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.584.0 [ci skip]
  CHANGELOG.md
Due: none

feat(ruby): move to v4
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(ruby): move to v4 (#1079)
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.585.0 [ci skip]
  CHANGELOG.md
Due: none

fix(root): revert changes to go and ruby
  root/Dockerfile
  root/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: root, ruby

fix(root): revert changes to go and ruby (#1080)
  root/Dockerfile
  root/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: root, ruby

chore(release): v1.585.1 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update go to v1.26
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.26 (#1081)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.586.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.64
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.64 (#1082)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.587.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#1083)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(go): update golangci-lint to v2.9.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update golangci-lint to v2.9.0 (#1084)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.588.0 [ci skip]
  CHANGELOG.md
Due: none

docs(ai): add AGENTS.md
  AGENTS.md
Due: none

docs(ai): add AGENTS.md (#1086)
  AGENTS.md
Due: none

feat(codecov): make sure we use the correct machine
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(codecov): make sure we use the correct machine
  go/Dockerfile
  ruby/Dockerfile
Due: ruby

feat(codecov): make sure we use the correct machine (#1087)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.589.0 [ci skip]
  CHANGELOG.md
Due: none

fix(codecov): this already gets the correct machine
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

fix(codecov): this already gets the correct machine (#1088)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.589.1 [ci skip]
  CHANGELOG.md
Due: none

feat(codecov): make sure we use the correct machine (#1089)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.590.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update kubescape to v4.0.1
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update kubescape to v4.0.1 (#1090)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.591.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
