Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.1

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            docker/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            docker/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true
          base-revision: origin/master
          resource_class: large

feat(k8s): update doctl to v1.138.0 (#887)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.464.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update gocovmerge to v2.12.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update gocovmerge to v2.12.0 (#888)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.465.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update gocovmerge to v2.13.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update gocovmerge to v2.13.0 (#889)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.466.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update gocovmerge to v2.14.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update gocovmerge to v2.14.0 (#890)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.467.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update go to v1.25
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.25 (#891)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.468.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use alexfalkowski/root:1.45
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use alexfalkowski/root:1.45 (#892)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.469.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.190.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.190.0 (#894)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.470.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update kubescape to v3.0.38
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update kubescape to v3.0.38 (#896)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.471.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.191.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.191.0 (#897)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.472.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.192.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.192.0 (#899)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.473.0 [ci skip]
  CHANGELOG.md
Due: none

feat(codecov): update to v11.2.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(codecov): update to v11.2.0 (#900)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.474.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update kubescape to v3.0.40
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update kubescape to v3.0.40 (#901)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.475.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use cimg/base:2025.09-24.04
  root/Dockerfile
  root/Makefile
Due: root

feat(root): use cimg/base:2025.09-24.04 (#903)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.476.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.46
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.46 (#904)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby
