Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

feat(deps): updated hadolint to 2.15.1
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

feat(deps): updated hadolint to 2.15.1 (#1678)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1679)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(deps): updated trivy to 0.73.0
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

feat(deps): updated trivy to 0.73.0 (#1682)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

build(ci): use latest published images (#1683)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.256.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.256.0 (#1684)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(compose): update status telemetry configuration
  Makefile
  README.md
  compose.yml
  prometheus/config.yml
  status/server.yaml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(compose): update status telemetry configuration (#1685)
  Makefile
  README.md
  compose.yml
  prometheus/config.yml
  status/server.yaml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): updated go-size-analyzer to v1.13.1
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated go-size-analyzer to 1.13.1
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated go-size-analyzer to 1.13.1 (#1687)
  go/Dockerfile
  go/Makefile
Due: go

feat(compose): consolidate local observability services
  .circleci/config.yml
  AGENTS.md
  README.md
  compose.yml
  grafana/loki.yml
  grafana/mimir.yml
  grafana/tempo.yml
  grafana/tempo/overrides.yaml
  otelcol/config.yml
  prometheus/config.yml
  status/server.yaml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(compose): consolidate local observability services (#1688)
  .circleci/config.yml
  AGENTS.md
  README.md
  compose.yml
  grafana/loki.yml
  grafana/mimir.yml
  grafana/tempo.yml
  grafana/tempo/overrides.yaml
  otelcol/config.yml
  prometheus/config.yml
  status/server.yaml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(compose): use latest
  compose.yml
Due: none

feat(compose): use latest (#1689)
  compose.yml
Due: none

feat(k8s): updated kubescape to 4.0.12
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubescape to 4.0.12 (#1691)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): update go to v1.26.6
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.26.6 (#1695)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): updated root to 3.15
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated root to 3.15 (#1696)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby
