Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

docs(security): document review exceptions (#1346)
  AGENTS.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1347)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.242.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.242.0 (#1348)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): updated root to 3.9
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): updated to 3.9
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated to 3.9
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated to 3.9 (#1352)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1353)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): updated goreleaser to 2.16.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated goreleaser to 2.16.0 (#1358)
  release/Dockerfile
  release/Makefile
Due: release

feat(deps): require explicit tool versions
  README.md
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  go/scripts/install-image-tool.d/golangci-lint
  k8s/Dockerfile
  k8s/Makefile
  k8s/scripts/install-image-tool.d/doctl
  k8s/scripts/install-image-tool.d/kubescape
  k8s/scripts/install-image-tool.d/pulumi
  k8s/scripts/install-image-tool.d/vegeta
  release/Dockerfile
  release/Makefile
  release/scripts/install-image-tool.d/gh
  release/scripts/install-image-tool.d/goreleaser
  release/scripts/install-image-tool.d/uplift
  root/scripts/install-image-tool.d/go
  ruby/Dockerfile
  ruby/Makefile
  scripts/install-go-tool
  scripts/install-image-tool
  scripts/install-image-tool.d/buf
  scripts/install-image-tool.d/codecov
  scripts/install-image-tool.d/dockerize
  scripts/install-image-tool.d/hadolint
  scripts/install-image-tool.d/mkcert
  scripts/install-image-tool.d/shellcheck
  scripts/install-image-tool.d/trivy
Due: docker, go, k8s, release, root, ruby

feat(deps): require explicit tool versions (#1359)
  README.md
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  go/scripts/install-image-tool.d/golangci-lint
  k8s/Dockerfile
  k8s/Makefile
  k8s/scripts/install-image-tool.d/doctl
  k8s/scripts/install-image-tool.d/kubescape
  k8s/scripts/install-image-tool.d/pulumi
  k8s/scripts/install-image-tool.d/vegeta
  release/Dockerfile
  release/Makefile
  release/scripts/install-image-tool.d/gh
  release/scripts/install-image-tool.d/goreleaser
  release/scripts/install-image-tool.d/uplift
  root/scripts/install-image-tool.d/go
  ruby/Dockerfile
  ruby/Makefile
  scripts/install-go-tool
  scripts/install-image-tool
  scripts/install-image-tool.d/buf
  scripts/install-image-tool.d/codecov
  scripts/install-image-tool.d/dockerize
  scripts/install-image-tool.d/hadolint
  scripts/install-image-tool.d/mkcert
  scripts/install-image-tool.d/shellcheck
  scripts/install-image-tool.d/trivy
Due: docker, go, k8s, release, root, ruby

build(ci): use latest published images (#1360)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(ruby): updated buf to 1.70.0
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(ruby): updated buf to 1.70.0 (#1362)
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(go): updated buf to 1.70.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated buf to 1.70.0 (#1361)
  go/Dockerfile
  go/Makefile
Due: go

feat(k8s): updated doctl to 1.160.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s
