Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

docs(readme): clarify image and stack contracts
  README.md
Due: none

docs(readme): clarify image and stack contracts (#1456)
  README.md
Due: none

feat(trivy): scan repo
  .circleci/continue_config.yml
  AGENTS.md
  Makefile
  README.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(trivy): scan repo (#1457)
  .circleci/continue_config.yml
  AGENTS.md
  Makefile
  README.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

docs(readme): clarify image and stack usage
  Makefile
  README.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

docs(readme): clarify image and stack usage (#1462)
  Makefile
  README.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

docs(readme): trim repository guide
  README.md
Due: none

docs(readme): trim repository guide (#1463)
  README.md
Due: none

feat(deps): updated trivy to 0.71.1
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

feat(deps): updated trivy to 0.71.1 (#1467)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1468)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated doctl to 1.162.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.162.0 (#1472)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(deps): updated buf to 1.71.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby
