Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.1

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            docker/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            docker/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true
          base-revision: origin/master
          resource_class: large

feat(release): update gh to v2.85.0 (#1044)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.562.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#1045)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(root): update go to v1.25.6
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.25.6 (#1046)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.563.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.61
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.61 (#1047)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.564.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1048)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): use bump v2.389.0
  release/Dockerfile
  release/Makefile
  release/deploy
Due: release

feat(release): use bump v2.389.0 (#1049)
  release/Dockerfile
  release/Makefile
  release/deploy
Due: release

chore(release): v1.565.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1050)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): use bump v2.390.0
  release/Dockerfile
  release/Makefile
  release/deploy
Due: release

feat(release): use bump v2.390.0 (#1051)
  release/Dockerfile
  release/Makefile
  release/deploy
Due: release

chore(release): v1.566.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1052)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.216.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.216.0 (#1053)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.567.0 [ci skip]
  CHANGELOG.md
Due: none

build(license): move to mit
  LICENSE
Due: none

build(license): move to mit (#1054)
  LICENSE
Due: none

feat(buf): update v1.64.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(buf): update v1.64.0 (#1056)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.568.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update bump to v2.393.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update bump to v2.393.0 (#1057)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.569.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1058)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): update gh to v2.86.0
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update gh to v2.86.0 (#1059)
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.570.0 [ci skip]
  CHANGELOG.md
Due: none
