Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

feat(deps): updated buf to 1.71.0 (#1473)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(release): check packaging config before publishing
  release/Makefile
  release/package
Due: release

feat(release): check packaging config before publishing (#1482)
  release/Makefile
  release/package
Due: release

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1483)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): updated gh to 2.95.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated gh to 2.95.0 (#1485)
  release/Dockerfile
  release/Makefile
Due: release

feat(release): pin package config lookup to repo root
  release/Makefile
  release/package
Due: release

feat(release): pin package config lookup to repo root (#1486)
  release/Makefile
  release/package
Due: release

build(ci): use latest published images (#1487)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.247.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.247.0 (#1489)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(deps): updated trivy to 0.71.2
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby
