Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): update to v1.26.1
  root/Dockerfile
  root/Makefile
Due: root

feat(go): update to v1.26.1 (#1137)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.625.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.67
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.67 (#1138)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.626.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1139)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): update golangci-lint to v2.11.1
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update golangci-lint to v2.11.1 (#1140)
  go/Dockerfile
  go/Makefile
Due: go

chore(release): v1.627.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update golangci-lint to v2.11.2
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
Due: go, release

feat(go): update golangci-lint to v2.11.2 (#1141)
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
Due: go, release

chore(release): v1.628.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1142)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use circleci/path-filtering@3.0.0
  .circleci/config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use circleci/path-filtering@3.0.0 (#1143)
  .circleci/config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): gpt-5.3-codex high
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): move to use a sigle workflow
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): move to use a sigle workflow (#1145)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(grafana): add redis otel metrics
  grafana/services.json
Due: none

feat(grafana): add redis otel metrics (#1146)
  grafana/services.json
Due: none

chore(release): v1.629.0 [ci skip]
  CHANGELOG.md
Due: none

feat(grafana): add sql otel metrics
  grafana/services.json
Due: none

feat(grafana): add sql otel metrics (#1147)
  grafana/services.json
Due: none

chore(release): v1.630.0 [ci skip]
  CHANGELOG.md
Due: none

feat(buf): update to v1.66.1
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(buf): update to v1.66.1 (#1149)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

chore(release): v1.631.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update goreleaser to v2.14.3
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.14.3 (#1150)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.632.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1151)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): update golangci-lint to v2.11.3
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update golangci-lint to v2.11.3 (#1152)
  go/Dockerfile
  go/Makefile
Due: go

chore(release): v1.633.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update gh to v2.88.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update gh to v2.88.0 (#1153)
  release/Dockerfile
  release/Makefile
Due: release

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
