Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.1

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            docker/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            docker/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true
          base-revision: origin/master
          resource_class: large

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#1060)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update kubescape to v3.0.48
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update kubescape to v3.0.48 (#1061)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.571.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.217.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.217.0 (#1062)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.572.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.217.1
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.217.1 (#1063)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.573.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.218.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.218.0 (#1064)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.574.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.69.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(trivy): update to v0.69.0 (#1065)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.575.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use cimg/base:2026.02-24.04
  root/Dockerfile
  root/Makefile
Due: root

feat(root): use cimg/base:2026.02-24.04 (#1067)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.576.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.62
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.62 (#1068)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.577.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1069)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(buf): update to v1.65.0
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(buf): update to v1.65.0 (#1070)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.578.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update go to v1.25.7
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.25.7 (#1071)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.579.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.63
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.63 (#1072)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.580.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1073)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.219.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.219.0 (#1075)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.581.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.69.1
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby
