Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.267.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.267.0 (#1764)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.268.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.268.0 (#1765)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.179.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.179.0 (#1766)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubescape to 4.0.15
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubescape to 4.0.15 (#1767)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): updated go to 1.27.2
  root/Dockerfile
  root/Makefile
Due: root

feat(root): updated go to 1.27.2 (#1769)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): updated root to 3.21
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated root to 3.21 (#1770)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1771)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): use golang.org/x/tools/go/analysis/passes/fieldalignment/cmd/fieldalignment
  go/Dockerfile
  go/Makefile
Due: go

feat(go): use golang.org/x/tools/go/analysis/passes/fieldalignment/cmd/fieldalignment (#1772)
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated betteralign to 0.15.2
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated betteralign to 0.15.2 (#1773)
  go/Dockerfile
  go/Makefile
Due: go

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
