Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

feat(go): update golangci-lint to v2.3.0
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(go): update golangci-lint to v2.3.0 (#852)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.444.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update goreleaser to v2.11.1
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.11.1 (#853)
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.445.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#854)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.186.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.186.0 (#855)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.446.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): break scripts for better control
  Makefile
  release/Dockerfile
  release/Makefile
  release/cd
  release/releaser
  release/semver
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): break scripts for better control (#856)
  Makefile
  release/Dockerfile
  release/Makefile
  release/cd
  release/releaser
  release/semver
Due: docker, go, k8s, monitoror, release, root, ruby

chore(release): v1.447.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/config.yml
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#857)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): better names for scripts
  Makefile
  release/Dockerfile
  release/Makefile
  release/deploy
  release/package
  release/version
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): better names for scripts (#858)
  Makefile
  release/Dockerfile
  release/Makefile
  release/deploy
  release/package
  release/version
Due: docker, go, k8s, monitoror, release, root, ruby

chore(release): v1.448.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#859)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): make pull
  release/Makefile
  release/deploy
  release/package
  release/version
Due: release

feat(release): make pull (#860)
  release/Makefile
  release/deploy
  release/package
  release/version
Due: release

chore(release): v1.449.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update kubescape to v3.0.36
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update kubescape to v3.0.36 (#861)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.450.0 [ci skip]
  CHANGELOG.md
Due: none

feat(compose): use redis:8
  compose.yml
Due: none

feat(compose): use redis:8 (#864)
  compose.yml
Due: none

chore(release): v1.451.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update kubescape to v3.0.37
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update kubescape to v3.0.37 (#866)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.452.0 [ci skip]
  CHANGELOG.md
Due: none

feat(codecov): update to v11.1.0
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: release, ruby

feat(codecov): update to v11.1.0 (#867)
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: release, ruby

chore(release): v1.453.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.65.0
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: release, ruby

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
