Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1106)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update pulumi to v3.222.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.222.0 (#1107)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

chore(release): v1.603.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.223.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.223.0 (#1108)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

chore(release): v1.604.0 [ci skip]
  CHANGELOG.md
Due: none

docs(ai): update README.md
  README.md
Due: none

docs(ai): update README.md (#1110)
  README.md
Due: none

feat(release): update gh to v2.87.2
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update gh to v2.87.2 (#1111)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.605.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1112)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): update goreleaser to v2.14.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.14.0 (#1113)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.606.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1114)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update doctl to v1.151.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update doctl to v1.151.0 (#1115)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

chore(release): v1.607.0 [ci skip]
  CHANGELOG.md
Due: none

feat(buf): update to v1.66.0
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, release, ruby

feat(buf): update to v1.66.0 (#1116)
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, release, ruby

chore(release): v1.608.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1117)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(compose): add docker.io/otel/opentelemetry-collector-contrib
  compose.yml
  grafana/tempo.yml
  grafana/tempo/overrides.yaml
  otelcol/config.yml
Due: none

feat(compose): add docker.io/otel/opentelemetry-collector-contrib (#1118)
  compose.yml
  grafana/tempo.yml
  grafana/tempo/overrides.yaml
  otelcol/config.yml
Due: none

chore(release): v1.609.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update goreleaser to v2.14.1
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.14.1 (#1119)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.610.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1120)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(grafana): add services dashboard
  grafana/grpc.json
  grafana/services.json
Due: none

feat(grafana): add services dashboard (#1121)
  grafana/grpc.json
  grafana/services.json
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
