Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.1

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            docker/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            docker/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true
          base-revision: origin/master
          resource_class: large

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#994)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): update goreleaser to v2.13.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.13.0 (#995)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.533.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#996)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(root): update go to v1.25.5
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.25.5 (#997)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.534.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.57
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.57 (#998)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.535.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#999)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(trivy): update to v0.68.1
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(trivy): update to v0.68.1 (#1000)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.536.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi v3.210.0
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi v3.210.0 (#1002)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.537.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update golangci-lint to v2.7.1
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update golangci-lint to v2.7.1 (#1003)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.538.0 [ci skip]
  CHANGELOG.md
Due: none

feat(codecov): update to v11.2.6
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(codecov): update to v11.2.6 (#1004)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.539.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): uddate golangci-lint to v2.7.2
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
Due: release

feat(go): uddate golangci-lint to v2.7.2 (#1005)
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.540.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1006)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): update gh to v2.83.2
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update gh to v2.83.2 (#1007)
  go/Dockerfile
  go/Makefile
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.541.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1008)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.211.0
  k8s/Dockerfile
  k8s/Makefile
Due: none
