Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#1025)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(deps): update buf to v1.62.1
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(deps): update buf to v1.62.1 (#1028)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.553.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use cimg/base:2026.01-24.04
  root/Dockerfile
  root/Makefile
Due: root

feat(root): use cimg/base:2026.01-24.04 (#1030)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.554.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.60
  Makefile
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
  scripts/clean
Due: docker, go, k8s, monitoror, release, root, ruby

feat(deps): use alexfalkowski/root:1.60 (#1031)
  Makefile
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
  scripts/clean
Due: docker, go, k8s, monitoror, release, root, ruby

chore(release): v1.555.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1032)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.214.1
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

feat(k8s): update pulumi to v3.214.1 (#1033)
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.556.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1034)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(buf): update to v1.63.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(buf): update to v1.63.0 (#1036)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.557.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.215.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.215.0 (#1037)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.558.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update golangci-lint to v2.8.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update golangci-lint to v2.8.0 (#1038)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.559.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update goreleaser to v2.13.3
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.13.3 (#1040)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.560.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1041)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(go): remove cache
  go/Dockerfile
  go/Makefile
Due: none

feat(go): remove cache (#1042)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.561.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update gh to v2.85.0
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
Due: release

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
