Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

feat(k8s): update pulumi to v3.227.0 (#1170)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

chore(release): v1.642.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): save version to file
  release/Makefile
  release/package
  release/version
Due: release

feat(release): save version to file (#1172)
  release/Makefile
  release/package
  release/version
Due: release

chore(release): v1.643.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): make sure release loads version file
  release/Makefile
  release/deploy
Due: release

feat(release): make sure release loads version file (#1173)
  release/Makefile
  release/deploy
Due: release

chore(release): v1.644.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): skip changelog
  release/Makefile
  release/version
Due: release

feat(release): skip changelog (#1174)
  release/Makefile
  release/version
Due: release

chore(release): v1.645.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): match on feat/fix
  release/Makefile
  release/deploy
  release/package
  release/version
Due: release

feat(release): match on feat/fix (#1175)
  release/Makefile
  release/deploy
  release/package
  release/version
Due: release

chore(release): v1.646.0 [ci skip]
  CHANGELOG.md
Due: none

feat(ci): use release-version.txt
  .circleci/continue_config.yml
  .goreleaser.yml
  CHANGELOG.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(ci): use release-version.txt (#1176)
  .circleci/continue_config.yml
  .goreleaser.yml
  CHANGELOG.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): update golangci-lint to v2.11.4
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update golangci-lint to v2.11.4 (#1177)
  go/Dockerfile
  go/Makefile
Due: go

feat(k8s): update doctl to v1.153.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update doctl to v1.153.0 (#1179)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): update to ruby-4.0.2
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update to ruby-4.0.2 (#1180)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use alexfalkowski/root:2.0
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:2.0 (#1181)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1182)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(compose): verify we have docker-compose
  scripts/compose
Due: none

feat(compose): verify we have docker-compose (#1184)
  scripts/compose
Due: none

feat(k8s): update pulumi to v3.228.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.228.0 (#1185)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(codecov): update to v11.2.8
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(codecov): update to v11.2.8 (#1187)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(go): update go-size-analyzer to v1.12.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update go-size-analyzer to v1.12.0 (#1189)
  go/Dockerfile
  go/Makefile
Due: go

feat(release): update goreleaser to v2.15.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.15.0 (#1190)
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.15.1
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.15.1 (#1192)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images (#1193)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel
