Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): updated go-size-analyzer to 1.13.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated go-size-analyzer to v1.13.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated go-size-analyzer to v1.13.0 (#1329)
  go/Dockerfile
  go/Makefile
Due: go

feat(security): bind compose services to loopback
  compose.yml
Due: none

feat(security): bind compose services to loopback (#1331)
  compose.yml
Due: none

feat(security): remove passwordless sudo from root image
  AGENTS.md
  root/Dockerfile
  root/Makefile
Due: root

feat(security): remove passwordless sudo from root image (#1332)
  AGENTS.md
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use root 3.7 for dependent images
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use root 3.7 for dependent images (#1333)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1334)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(root): restore sudo in root image
  root/Dockerfile
  root/Makefile
Due: root

feat(root): restore sudo in root image (#1336)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use root 3.8 for dependent images
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use root 3.8 for dependent images (#1337)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1338)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.241.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.241.0 (#1342)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(go): updated gocovmerge to v2.29.2
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated gocovmerge to v2.29.2 (#1344)
  go/Dockerfile
  go/Makefile
Due: go

feat(security): verify github release asset digests
  docker/Makefile
  go/Makefile
  ruby/Makefile
  scripts/install-go-tool
  scripts/install-image-tool
  scripts/install-image-tool.d/codecov
  scripts/install-image-tool.d/shellcheck
Due: docker, go, ruby

feat(security): verify github release asset digests (#1345)
  docker/Makefile
  go/Makefile
  ruby/Makefile
  scripts/install-go-tool
  scripts/install-image-tool
  scripts/install-image-tool.d/codecov
  scripts/install-image-tool.d/shellcheck
Due: docker, go, ruby

docs(security): document review exceptions
  AGENTS.md
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
