Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

docs(readme): explain release script behavior and refresh stale version references
  AGENTS.md
  README.md
  release/deploy
  release/package
  release/version
Due: release

docs(readme): explain release script behavior and refresh stale version references (#1637)
  AGENTS.md
  README.md
  release/deploy
  release/package
  release/version
Due: release

docs(readme): describe image capabilities and release helpers
  README.md
Due: none

docs(readme): describe image capabilities and release helpers (#1638)
  README.md
Due: none

feat(compose): use docker.io/grafana/tempo:2.10.7
  compose.yml
Due: none

feat(compose): use docker.io/grafana/tempo:2.10.7 (#1641)
  compose.yml
Due: none

feat(k8s): updated pulumi to 3.254.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.254.0 (#1644)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.164.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.164.0 (#1645)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s
