Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

chore(release): v1.477.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#905)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): update goreleaser to v2.12.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.12.0 (#906)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.478.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update go to v1.25.1
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.25.1 (#907)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.479.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.47
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.47 (#908)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.480.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#909)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.193.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.193.0 (#916)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.481.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.194.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.194.0 (#918)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.482.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.195.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.195.0 (#919)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.483.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.196.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.196.0 (#920)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.484.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update go-size-analyzer to v1.10.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update go-size-analyzer to v1.10.0 (#921)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.485.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update ruby to v3.4.6
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update ruby to v3.4.6 (#922)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.486.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use alexfalkowski/root:1.48
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use alexfalkowski/root:1.48 (#923)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.487.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#924)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(buf): update to v1.56.2
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(buf): update to v1.56.2 (#925)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.488.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
