Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(status): remove debug
  status/server.yaml
Due: none

feat(status): remove debug (#1720)
  status/server.yaml
Due: none

feat(k8s): updated pulumi to 3.260.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.260.0 (#1721)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): updated go to 1.27.1
  root/Dockerfile
  root/Makefile
Due: root

feat(root): updated go to 1.27.1 (#1722)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): updated root to 3.18
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated root to 3.18 (#1723)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1724)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): updated gh to 2.99.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated gh to 2.99.0 (#1726)
  release/Dockerfile
  release/Makefile
Due: release

feat(k8s): updated kubescape to 4.0.13
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubescape to 4.0.13 (#1727)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

build(ci): use latest published images (#1728)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.261.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.261.0 (#1730)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(release): updated goreleaser to 2.18.1
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated goreleaser to 2.18.1 (#1731)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images (#1732)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated kubescape to 4.0.14
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubescape to 4.0.14 (#1733)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.262.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.262.0 (#1734)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(deps): updated buf to 1.73.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(root): add libperl5.40
  root/.trivyignore
  root/Dockerfile
  root/Makefile
Due: root

feat(root): add libperl5.40 (#1737)
  root/.trivyignore
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): updated root to 3.19
  docker/.trivyignore
  docker/Dockerfile
  docker/Makefile
  go/.trivyignore
  go/Dockerfile
  go/Makefile
  k8s/.trivyignore
  k8s/Dockerfile
  k8s/Makefile
  release/.trivyignore
  release/Dockerfile
  release/Makefile
  ruby/.trivyignore
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated root to 3.19 (#1738)
  docker/.trivyignore
  docker/Dockerfile
  docker/Makefile
  go/.trivyignore
  go/Dockerfile
  go/Makefile
  k8s/.trivyignore
  k8s/Dockerfile
  k8s/Makefile
  release/.trivyignore
  release/Dockerfile
  release/Makefile
  ruby/.trivyignore
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated buf to 1.73.0 (#1739)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

build(ci): use latest published images (#1740)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
