Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(compose): update tempo image tag to latest patch (#1305)
  compose.yml
Due: none

build(test): we will close
  README.md
Due: none

feat(k8s): updated pulumi to 3.239.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.239.0 (#1313)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

build(ci): include shared scripts in image filters
  .circleci/config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): include shared scripts in image filters (#1315)
  .circleci/config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(make): set docker platforms explicitly
  make/docker.mk
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(make): set docker platforms explicitly (#1316)
  make/docker.mk
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(root): verify go downloads before extraction
  root/Dockerfile
  root/Makefile
  root/scripts/install-image-tool.d/go
Due: root

feat(root): verify go downloads before extraction (#1317)
  root/Dockerfile
  root/Makefile
  root/scripts/install-image-tool.d/go
Due: root

build(ci): run sync after image builds
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): run sync after image builds (#1318)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(deps): roll images to verified base
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): roll images to verified base (#1319)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1320)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
