Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.1

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            docker/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            docker/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true
          base-revision: origin/master
          resource_class: large

feat(root): update cimg/base:2025.07-24.04
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update cimg/base:2025.07-24.04 (#817)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.421.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use alexfalkowski/root:1.39
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use alexfalkowski/root:1.39 (#818)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.422.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.64.1
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(trivy): update to v0.64.1 (#819)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.423.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update gocovmerge to v2.0.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update gocovmerge to v2.0.0 (#820)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.424.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update gocovmerge to v2.3.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update gocovmerge to v2.3.0 (#821)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.425.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update gocovmerge to v2.4.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update gocovmerge to v2.4.0 (#822)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.426.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update gocovmerge to v2.9.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update gocovmerge to v2.9.0 (#824)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.427.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update go to v1.24.5
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.24.5 (#825)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.428.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use alexfalkowski/root:1.40
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use alexfalkowski/root:1.40 (#826)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.429.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/docker:1.23
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use alexfalkowski/docker:1.23 (#827)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(root): store go version
  root/.hadolint.yaml
  root/Dockerfile
  root/Makefile
Due: root

feat(root): store go version (#829)
  root/.hadolint.yaml
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.430.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use alexfalkowski/root:1.41
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use alexfalkowski/root:1.41 (#830)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.431.0 [ci skip]
  CHANGELOG.md
Due: none

fix(k8s): bump to v1.72
  k8s/Makefile
Due: none

fix(k8s): bump to v1.72 (#831)
  k8s/Makefile
Due: none

chore(release): v1.431.1 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update golangci-lint to v2.2.2
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update golangci-lint to v2.2.2 (#832)
  go/Dockerfile
  go/Makefile
Due: none
