Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#961)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): update goreleaser to v2.12.6
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.12.6 (#962)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.511.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#963)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.204.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.204.0 (#964)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.512.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): use blobless clones
  release/Makefile
  release/deploy
Due: release

feat(release): use blobless clones (#965)
  release/Makefile
  release/deploy
Due: release

chore(release): v1.513.0 [ci skip]
  CHANGELOG.md
Due: none

feat(buf): use v1.59.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(buf): use v1.59.0 (#966)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.514.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update goreleaser to v2.12.7
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.12.7 (#967)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.515.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#968)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.205.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.205.0 (#969)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.516.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): remove GOGC
  root/Dockerfile
  root/Makefile
Due: root

feat(root): remove GOGC (#970)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.517.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.53
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.53 (#971)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.518.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#972)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(go): use golangci-lint v2.6.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(go): use golangci-lint v2.6.0 (#973)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.519.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use cimg/base:2025.11-24.04
  root/Dockerfile
  root/Makefile
Due: root

feat(root): use cimg/base:2025.11-24.04 (#975)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.520.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.54
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.54 (#976)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
