Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            scripts/include.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            scripts/include.mk go true
            docker/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            scripts/include.mk k8s true
            docker/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            scripts/include.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            scripts/include.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            scripts/include.mk root true
            root/.* root true
          base-revision: origin/master
          resource_class: large

chore(release): v1.407.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update helm to v3.18.3
  .circleci/config.yml
  docker/Makefile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  make/docker.mk
  monitoror/Makefile
  release/Makefile
  root/Makefile
  ruby/Makefile
Due: docker, go, k8s, monitoror, release, root

feat(k8s): update helm to v3.18.3 (#803)
  .circleci/config.yml
  docker/Makefile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  make/docker.mk
  monitoror/Makefile
  release/Makefile
  root/Makefile
  ruby/Makefile
Due: docker, go, k8s, monitoror, release, root

chore(release): v1.408.0 [ci skip]
  CHANGELOG.md
Due: none

feat(buf): update to v1.55.1
  .circleci/config.yml
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, monitoror, release, root

feat(buf): update to v1.55.1 (#804)
  .circleci/config.yml
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, monitoror, release, root

chore(release): v1.409.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.178.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.178.0 (#805)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.410.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update tools
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update tools (#806)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.411.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update kubescape to v3.0.35
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update kubescape to v3.0.35 (#807)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.412.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): use install for kubescape
  k8s/Dockerfile
Due: none

feat(k8s): use install for kubescape (#808)
  k8s/Dockerfile
Due: none

chore(release): v1.413.0 [ci skip]
  CHANGELOG.md
Due: none

feat(monitoror): remove sasha
  monitoror/Makefile
  monitoror/config.json
Due: monitoror

feat(monitoror): remove sasha (#809)
  monitoror/Makefile
  monitoror/config.json
Due: monitoror

chore(release): v1.414.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.180.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.180.0 (#810)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.415.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.181.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.181.0 (#811)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.416.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): releaser in diff locations
  release/Makefile
  release/release
Due: release

feat(release): releaser in diff locations (#812)
  release/Makefile
  release/release
Due: release

chore(release): v1.417.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update golangci-lint to v2.2.0
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update golangci-lint to v2.2.0 (#813)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.418.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update golangci-lint to v2.2.1
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update golangci-lint to v2.2.1 (#814)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.419.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.64.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: none

feat(trivy): update to v0.64.0 (#815)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: none

chore(release): v1.420.0 [ci skip]
  CHANGELOG.md
Due: none
