Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

feat(deps): updated trivy to 0.72.0
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

feat(root): install fixed debian security packages
  root/Dockerfile
  root/Makefile
Due: root

feat(root): install fixed debian security packages (#1536)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use published base image
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use published base image (#1537)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated trivy to 0.72.0 (#1538)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1539)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated kubescape to 4.0.10
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubescape to 4.0.10 (#1541)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.249.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.249.0 (#1543)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.250.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.250.0 (#1546)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(release): updated gh to 2.96.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated gh to 2.96.0 (#1551)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images (#1552)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel
