Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update pulumi to v3.231.0 (#1219)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(release): update gh to v2.90.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update gh to v2.90.0 (#1220)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1221)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(trivy): update to v0.70.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(trivy): update to v0.70.0 (#1222)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(k8s): update kubescape to v4.0.5
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update kubescape to v4.0.5 (#1223)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

docs(ai): document shared coding standards skill
  AGENTS.md
Due: none

docs(ai): document shared coding standards skill (#1225)
  AGENTS.md
Due: none

feat(compose): wrapper and refresh repo docs
  README.md
  scripts/compose
Due: none

feat(compose): wrapper and refresh repo docs (#1228)
  README.md
  scripts/compose
Due: none

feat(root): clean ruby sources after install
  root/Dockerfile
  root/Makefile
Due: root

feat(root): clean ruby sources after install (#1229)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): update alexfalkowski/root:2.3
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): update alexfalkowski/root:2.3 (#1230)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1231)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): remove trusted apt repos
  release/Dockerfile
  release/Makefile
Due: release

feat(release): remove trusted apt repos (#1233)
  release/Dockerfile
  release/Makefile
Due: release

feat(sec): harden dockerfile downloads and checksum verification
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  release/Dockerfile
  release/Makefile
  root/Dockerfile
  root/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, root, ruby

feat(sec): harden dockerfile downloads and checksum verification (#1234)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  release/Dockerfile
  release/Makefile
  root/Dockerfile
  root/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, root, ruby

feat(deps): update to alexfalkowski/root:2.4
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): update to alexfalkowski/root:2.4 (#1235)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

fix(k8s): pulumi install path in k8s image
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

fix(k8s): pulumi install path in k8s image (#1236)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(buf): update to v1.68.3
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(buf): update to v1.68.3 (#1237)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(root): update ruby to v4.0.3
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update ruby to v4.0.3 (#1239)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use alexfalkowski/root:2.5
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
