Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(compose): use config flag
  compose.yml
Due: none

feat(compose): use config flag (#1392)
  compose.yml
Due: none

feat(ruby): updated trivy to 0.71.0
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(ruby): updated trivy to 0.71.0 (#1398)
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(go): updated trivy to 0.71.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated trivy to 0.71.0 (#1399)
  go/Dockerfile
  go/Makefile
Due: go

feat(root): updated go to 1.26.4
  root/Dockerfile
  root/Makefile
Due: root

feat(root): updated go to 1.26.4 (#1402)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use alexfalkowski/root:3.10
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:3.10 (#1403)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1404)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated doctl to 1.160.1
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.160.1 (#1405)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.245.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.245.0 (#1408)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): install kubectl client
  k8s/Dockerfile
  k8s/Makefile
  k8s/scripts/install-image-tool.d/kubectl
Due: k8s

feat(k8s): install kubectl client (#1409)
  k8s/Dockerfile
  k8s/Makefile
  k8s/scripts/install-image-tool.d/kubectl
Due: k8s

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
