Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): add github.com/dkorunic/betteralign/cmd/betteralign v0.14.2
  go/Dockerfile
  go/Makefile
Due: go

feat(go): add github.com/dkorunic/betteralign/cmd/betteralign v0.14.2 (#1619)
  go/Dockerfile
  go/Makefile
Due: go

feat(deps): updated buf to 1.72.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(deps): updated buf to 1.72.0 (#1622)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(release): updated bump to 2.549.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated bump to 2.549.0 (#1624)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1625)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated kubescape to 4.0.11
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubescape to 4.0.11 (#1633)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubectl to 1.36.3
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubectl to 1.36.3 (#1635)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
