Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

build(ci): use latest published images (#1697)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(deps): updated trivy to 0.74.0
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

feat(deps): updated trivy to 0.74.0 (#1698)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

feat(go): refresh analysis and security tools
  go/Dockerfile
  go/Makefile
Due: go

feat(go): refresh analysis and security tools (#1699)
  go/Dockerfile
  go/Makefile
Due: go

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1700)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(root): update security issue
  root/Dockerfile
  root/Makefile
Due: root

feat(k8s): updated pulumi to 3.258.0
  k8s/.trivyignore
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.258.0 (#1701)
  k8s/.trivyignore
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.167.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated doctl to 1.167.0 (#1703)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): updated go to 1.26.7
  docker/.trivyignore
  go/.trivyignore
  release/.trivyignore
  root/.trivyignore
  root/Dockerfile
  root/Makefile
  ruby/.trivyignore
Due: docker, go, release, root, ruby

feat(root): updated go to 1.26.7 (#1705)
  docker/.trivyignore
  go/.trivyignore
  release/.trivyignore
  root/.trivyignore
  root/Dockerfile
  root/Makefile
  ruby/.trivyignore
Due: docker, go, release, root, ruby

feat(deps): updated root to 3.16
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated root to 3.16 (#1706)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1707)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.259.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.259.0 (#1708)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): updated go to 1.27.0
  root/Dockerfile
  root/Makefile
Due: root

feat(root): updated go to 1.27.0 (#1709)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): updated root to 3.17
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated root to 3.17 (#1710)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1711)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): updated go-size-analyzer to 1.14.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated go-size-analyzer to 1.14.0 (#1712)
  go/Dockerfile
  go/Makefile
Due: go

feat(release): updated goreleaser to 2.18.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated goreleaser to 2.18.0 (#1714)
  release/Dockerfile
  release/Makefile
Due: release

feat(deps): updated scc to 4.0.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(deps): updated scc to 4.0.0 (#1715)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

build(ci): use latest published images (#1716)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated kubectl to 1.37.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated kubectl to 1.37.0 (#1717)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(go): updated golangci-lint to 2.13.2
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated golangci-lint to 2.13.2 (#1719)
  go/Dockerfile
  go/Makefile
Due: go
