Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

feat(deps): updated trivy to 0.71.2 (#1493)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1494)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use lightweight aggregate job
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use lightweight aggregate job (#1497)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

docs(agents): centralize shared repository guidance
  AGENTS.md
Due: none

docs(agents): centralize shared repository guidance (#1498)
  AGENTS.md
Due: none

docs(agents): prefer make command surface
  AGENTS.md
Due: none

docs(agents): prefer make command surface (#1499)
  AGENTS.md
Due: none

build(ci): reuse pipeline setup
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): reuse pipeline setup (#1500)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(deps): updated gocovmerge to 2.31.0
  go/Dockerfile
  go/Makefile
Due: go

feat(deps): updated gocovmerge to 2.31.0 (#1502)
  go/Dockerfile
  go/Makefile
Due: go

build(git): align generated file ignores
  .gitignore
Due: none

build(git): align generated file ignores (#1505)
  .gitignore
Due: none

build(bin): refresh shared tooling guidance
  AGENTS.md
Due: none

build(bin): refresh shared tooling guidance (#1508)
  AGENTS.md
Due: none

build(project): check compose stack config in ci
  .circleci/config.yml
  .circleci/continue_config.yml
  Makefile
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(project): check compose stack config in ci (#1510)
  .circleci/config.yml
  .circleci/continue_config.yml
  Makefile
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

docs(agents): document image make defaults
  AGENTS.md
  docker/Makefile
  go/Makefile
  k8s/Makefile
  release/Makefile
  root/Makefile
  ruby/Makefile
Due: docker, go, k8s, release, root, ruby

docs(agents): document image make defaults (#1511)
  AGENTS.md
  docker/Makefile
  go/Makefile
  k8s/Makefile
  release/Makefile
  root/Makefile
  ruby/Makefile
Due: docker, go, k8s, release, root, ruby
