Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

feat(trivy): update to v0.65.0 (#868)
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: release, ruby

chore(release): v1.454.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#869)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(buf): update to v1.56.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(buf): update to v1.56.0 (#871)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.455.0 [ci skip]
  CHANGELOG.md
Due: none

feat(go): update golangci-lint to v2.3.1
  go/Dockerfile
  go/Makefile
Due: none

feat(go): update golangci-lint to v2.3.1 (#872)
  go/Dockerfile
  go/Makefile
Due: none

chore(release): v1.456.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use cimg/base:2025.08-24.04
  root/Dockerfile
  root/Makefile
Due: root

feat(root): use cimg/base:2025.08-24.04 (#874)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.457.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use alexfalkowski/root:1.43
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use alexfalkowski/root:1.43 (#875)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.458.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#876)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(docker): update to v0.11.0
  docker/Dockerfile
  docker/Makefile
Due: docker, go, k8s

feat(docker): update to v0.11.0 (#877)
  docker/Dockerfile
  docker/Makefile
Due: docker, go, k8s

chore(release): v1.459.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#878)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(root): update go to v1.24.6
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.24.6 (#880)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.460.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use alexfalkowski/root:1.44
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use alexfalkowski/root:1.44 (#881)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.461.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#882)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): use new-release
  release/Makefile
  release/deploy
Due: release

feat(release): use new-release (#883)
  release/Makefile
  release/deploy
Due: release

chore(release): v1.462.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#884)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.188.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.188.0 (#886)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.463.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update doctl to v1.138.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
