Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.1

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            docker/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            docker/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true
          base-revision: origin/master
          resource_class: large

chore(release): v1.499.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use blobless
  .circleci/config.yml
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use blobless (#944)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.200.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.200.0 (#945)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.500.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update go to v1.25.2
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.25.2 (#947)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.501.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.51
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  monitoror/Dockerfile
  monitoror/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
  status/server.yml
Due: docker, go, k8s, monitoror, release, ruby

feat(deps): use alexfalkowski/root:1.51 (#948)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  monitoror/Dockerfile
  monitoror/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
  status/server.yml
Due: docker, go, k8s, monitoror, release, ruby

chore(release): v1.502.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#949)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(buf): update to v1.58.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(buf): update to v1.58.0 (#951)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.503.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.67.1
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(trivy): update to v0.67.1 (#952)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.504.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.67.2
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(trivy): update to v0.67.2 (#953)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.505.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.202.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.202.0 (#954)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.506.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update go to v1.25.3
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.25.3 (#955)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.507.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.52
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.52 (#956)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.508.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#957)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.203.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.203.0 (#959)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.509.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update gh to v2.82.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update gh to v2.82.0 (#960)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.510.0 [ci skip]
  CHANGELOG.md
Due: none
