Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

build(ci): publish images only after version changes
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): publish images only after version changes (#1554)
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(release): updated goreleaser to 2.17.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated goreleaser to 2.17.0 (#1558)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1559)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(deps): add claude code skills wiring
  .claude/skills
  CLAUDE.md
  Makefile
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(deps): add claude code skills wiring (#1560)
  .claude/skills
  CLAUDE.md
  Makefile
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(root): install libsodium for rbnacl-backed paseto tokens
  root/Dockerfile
  root/Makefile
Due: root

feat(root): install libsodium for rbnacl-backed paseto tokens (#1564)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): adopt root 3.12 with libsodium across dependent images
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): adopt root 3.12 with libsodium across dependent images (#1565)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1566)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): updated fieldalignment to 0.47.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated fieldalignment to 0.47.0 (#1570)
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated govulncheck to 1.5.0
  go/Dockerfile
  go/Makefile
Due: go

feat(go): updated govulncheck to 1.5.0 (#1571)
  go/Dockerfile
  go/Makefile
Due: go

feat(root): updated go to 1.26.5
  root/Dockerfile
  root/Makefile
Due: root

feat(root): updated go to 1.26.5 (#1572)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): updated root to 3.13
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated root to 3.13 (#1573)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby
