Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(deps): use root 3.2 (#1282)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use ruby base image
  root/Dockerfile
  root/Makefile
  root/scripts/install-image-tool.d/ruby
Due: root

feat(root): use ruby base image (#1283)
  root/Dockerfile
  root/Makefile
  root/scripts/install-image-tool.d/ruby
Due: root

feat(deps): use root 3.3
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use root 3.3 (#1284)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1285)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(go): update golangci-lint to v2.12.2
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update golangci-lint to v2.12.2 (#1287)
  go/Dockerfile
  go/Makefile
Due: go

feat(root): update go to v1.26.3
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update go to v1.26.3 (#1288)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use alexfalkowski/root:3.4
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:3.4 (#1289)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1290)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update pulumi to v3.235.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.235.0 (#1292)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.236.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.236.0 (#1293)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.237.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.237.0 (#1294)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): use ruby:4.0.4-slim-trixie
  root/Dockerfile
  root/Makefile
Due: root

feat(root): use ruby:4.0.4-slim-trixie (#1297)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use alexfalkowski/root:3.5
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:3.5 (#1298)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1299)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): remove unused helm and kubectl
  k8s/Dockerfile
  k8s/Makefile
  k8s/scripts/install-image-tool.d/helm
  k8s/scripts/install-image-tool.d/kubectl
Due: k8s

feat(k8s): remove unused helm and kubectl (#1300)
  k8s/Dockerfile
  k8s/Makefile
  k8s/scripts/install-image-tool.d/helm
  k8s/scripts/install-image-tool.d/kubectl
Due: k8s

feat(compose): update dependency images
  README.md
  compose.yml
Due: none

feat(compose): update dependency images (#1301)
  README.md
  compose.yml
Due: none

build(agents): update shared location
  AGENTS.md
Due: none

build(agents): update shared location (#1302)
  AGENTS.md
Due: none

feat(k8s): updated pulumi to 3.238.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.238.0 (#1304)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(compose): update tempo image tag to latest patch
  compose.yml
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
