Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.1

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            docker/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            docker/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true
          base-revision: origin/master
          resource_class: large

feat(k8s): update pulumi to v3.211.0 (#1009)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.542.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.212.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.212.0 (#1010)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.543.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update to ruby-3.4.8
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update to ruby-3.4.8 (#1011)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.544.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): update alexfalkowski/root:1.58
  docker/Dockerfile
  go/Dockerfile
  k8s/Dockerfile
  release/Dockerfile
  ruby/Dockerfile
Due: docker, go, k8s, release, ruby

feat(deps): update alexfalkowski/root:1.58 (#1012)
  docker/Dockerfile
  go/Dockerfile
  k8s/Dockerfile
  release/Dockerfile
  ruby/Dockerfile
Due: docker, go, k8s, release, ruby

chore(release): v1.545.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.213.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.213.0 (#1013)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.546.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): bump versions
  docker/Makefile
  go/Makefile
  release/Makefile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): bump versions (#1014)
  docker/Makefile
  go/Makefile
  release/Makefile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.547.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

build(ci): use latest published images (#1015)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update kubescape to v3.0.47
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update kubescape to v3.0.47 (#1016)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.548.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.68.2
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

feat(trivy): update to v0.68.2 (#1017)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: ruby

chore(release): v1.549.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update goreleaser to v2.13.2
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update goreleaser to v2.13.2 (#1021)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.550.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1022)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby

feat(root): gem update --system 4.0.3
  root/Dockerfile
  root/Makefile
Due: root

feat(root): gem update --system 4.0.3 (#1023)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.551.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.59
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.59 (#1024)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.552.0 [ci skip]
  CHANGELOG.md
Due: none
