Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1262)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update pulumi to v3.233.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.233.0 (#1264)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(go): update go-size-analyzer to v1.12.6
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update go-size-analyzer to v1.12.6 (#1265)
  go/Dockerfile
  go/Makefile
Due: go

feat(scripts): add shared go install and cleanup helpers
  AGENTS.md
  README.md
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
  scripts/clean-go
  scripts/install-go-tool
  scripts/lint
Due: go, k8s, release, ruby

feat(scripts): add shared go install and cleanup helpers (#1266)
  AGENTS.md
  README.md
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
  scripts/clean-go
  scripts/install-go-tool
  scripts/lint
Due: go, k8s, release, ruby

build(ci): use latest published images (#1267)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): update pulumi to v3.234.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.234.0 (#1269)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(go): update to golangci-lint v2.12.1
  go/Dockerfile
  go/Makefile
Due: go

feat(go): update to golangci-lint v2.12.1 (#1270)
  go/Dockerfile
  go/Makefile
Due: go

docs(readme): clarify repository documentation
  AGENTS.md
  README.md
Due: none

docs(readme): clarify repository documentation (#1271)
  AGENTS.md
  README.md
Due: none

feat(k8s): update kubescape to v4.0.6
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update kubescape to v4.0.6 (#1273)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): move root image to debian trixie
  root/Dockerfile
  root/Makefile
  root/scripts/install-image-tool.d/bazelisk
Due: root

feat(root): move root image to debian trixie (#1274)
  root/Dockerfile
  root/Makefile
  root/scripts/install-image-tool.d/bazelisk
Due: root

feat(deps): bump root image dependents
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): bump root image dependents (#1275)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): add docker tooling
  root/Dockerfile
  root/Makefile
Due: root

feat(root): add docker tooling (#1277)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use root 3.1
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use root 3.1 (#1278)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1279)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(root): add netcat
  root/Dockerfile
  root/Makefile
Due: root

feat(root): add netcat (#1281)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): use root 3.2
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby
