Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

feat(compose): route tempo metrics-generator remote-write to mimir
  grafana/tempo.yml
Due: none

feat(compose): route tempo metrics-generator remote-write to mimir (#1596)
  grafana/tempo.yml
Due: none

feat(k8s): updated pulumi to 3.252.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.252.0 (#1602)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(release): updated bump to 2.541.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): updated bump to 2.541.0 (#1605)
  release/Dockerfile
  release/Makefile
Due: release

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1606)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.253.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.253.0 (#1611)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(root): updated ruby to 4.0.6
  root/Dockerfile
  root/Makefile
Due: root

feat(root): updated ruby to 4.0.6 (#1613)
  root/Dockerfile
  root/Makefile
Due: root

feat(deps): updated root to 3.14
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): updated root to 3.14 (#1615)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

build(ci): use latest published images (#1616)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel
