Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@2.0.4

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* docker true
            Makefile docker true
            make/docker.mk docker true
            docker/.* docker true

            .circleci/.* go true
            Makefile go true
            make/docker.mk go true
            go/.* go true

            .circleci/.* k8s true
            Makefile k8s true
            make/docker.mk k8s true
            k8s/.* k8s true

            .circleci/.* monitoror true
            Makefile monitoror true
            make/docker.mk monitoror true
            monitoror/.* monitoror true

            .circleci/.* release true
            Makefile release true
            make/docker.mk release true
            release/.* release true

            .circleci/.* root true
            Makefile root true
            make/docker.mk root true
            root/.* root true

            .circleci/.* ruby true
            Makefile ruby true
            make/docker.mk ruby true
            ruby/.* ruby true

            .circleci/.* bazel true
            Makefile bazel true
            make/docker.mk bazel true
            bazel/.* bazel true
          base-revision: origin/master
          resource_class: large

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1574)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(deps): wire codex discovery
  .agents/skills
  Makefile
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(deps): wire codex discovery (#1575)
  .agents/skills
  Makefile
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(k8s): updated pulumi to 3.251.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): updated pulumi to 3.251.0 (#1576)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(deps): updated codecov to 11.3.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(codecov): repoint cli install at renamed release repository
  scripts/install-image-tool.d/codecov
Due: none

feat(codecov): repoint cli install at renamed release repository (#1579)
  scripts/install-image-tool.d/codecov
Due: none

feat(deps): updated codecov to 11.3.1
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(deps): updated codecov to 11.3.1 (#1580)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

build(deps): update bin to adopt the shared claude permissions baseline
  .claude/settings.json
Due: none

build(deps): update bin to adopt the shared claude permissions baseline (#1581)
  .claude/settings.json
Due: none

build(deps): wire shared codex permissions
  .codex/config.toml
  .codex/rules/bin.rules
Due: none

build(deps): wire shared codex permissions (#1582)
  .codex/config.toml
  .codex/rules/bin.rules
Due: none
