Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby, bazel

chore(release): v1.611.0 [ci skip]
  CHANGELOG.md
Due: none

feat(grafana): add host and runtime for services
  grafana/services.json
Due: none

feat(grafana): add host and runtime for services (#1122)
  grafana/services.json
Due: none

chore(release): v1.612.0 [ci skip]
  CHANGELOG.md
Due: none

feat(grafana): update errors
  grafana/services.json
Due: none

feat(grafana): update errors (#1123)
  grafana/services.json
Due: none

chore(release): v1.613.0 [ci skip]
  CHANGELOG.md
Due: none

feat(grafana): use job
  grafana/services.json
Due: none

feat(grafana): use job (#1124)
  grafana/services.json
Due: none

chore(release): v1.614.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.224.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.224.0 (#1125)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

chore(release): v1.615.0 [ci skip]
  CHANGELOG.md
Due: none

feat(trivy): update to v0.69.2
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(trivy): update to v0.69.2 (#1127)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

chore(release): v1.616.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.617.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): use alexfalkowski/root:1.66
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(deps): use alexfalkowski/root:1.66 (#1128)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.618.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

build(ci): use latest published images (#1129)
  .circleci/continue_config.yml
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(grafana): use the correct attributes for services dashboard
  grafana/services.json
Due: none

feat(grafana): use the correct attributes for services dashboard (#1130)
  grafana/services.json
Due: none

chore(release): v1.619.0 [ci skip]
  CHANGELOG.md
Due: none

feat(grafana): use Queueing Proxy (p99/p50)
  grafana/services.json
Due: none

feat(grafana): use Queueing Proxy (p99/p50) (#1131)
  grafana/services.json
Due: none

chore(release): v1.620.0 [ci skip]
  CHANGELOG.md
Due: none

feat(monitoror): remove
  .circleci/config.yml
  .circleci/continue_config.yml
  AGENTS.md
  README.md
  monitoror/.hadolint.yaml
  monitoror/Dockerfile
  monitoror/Makefile
  monitoror/config.json
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

feat(monitoror): remove (#1132)
  .circleci/config.yml
  .circleci/continue_config.yml
  AGENTS.md
  README.md
  monitoror/.hadolint.yaml
  monitoror/Dockerfile
  monitoror/Makefile
  monitoror/config.json
Due: docker, go, k8s, monitoror, release, root, ruby, bazel

chore(release): v1.621.0 [ci skip]
  CHANGELOG.md
Due: none

feat(scc): update github.com/boyter/scc to v3.7.0
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

feat(scc): update github.com/boyter/scc to v3.7.0 (#1133)
  go/Dockerfile
  go/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: go, ruby

chore(release): v1.622.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.225.0
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.225.0 (#1134)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

chore(release): v1.623.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.225.1
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

feat(k8s): update pulumi to v3.225.1 (#1136)
  k8s/Dockerfile
  k8s/Makefile
Due: k8s

chore(release): v1.624.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: go/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: k8s/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
  bazel: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: bazel/.*)
