Repository alexfalkowski/docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker, go, k8s, monitoror, release, root, ruby

chore(release): v1.432.0 [ci skip]
  CHANGELOG.md
Due: none

feat(compose): add debug to status
  status/server.yml
Due: none

feat(compose): add debug to status (#833)
  status/server.yml
Due: none

chore(release): v1.433.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): update uplift to v2.26.0
  release/Dockerfile
  release/Makefile
Due: release

feat(release): update uplift to v2.26.0 (#834)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.434.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.182.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.182.0 (#835)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.435.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): update ruby to v3.4.5
  root/Dockerfile
  root/Makefile
Due: root

feat(root): update ruby to v3.4.5 (#837)
  root/Dockerfile
  root/Makefile
Due: root

chore(release): v1.436.0 [ci skip]
  CHANGELOG.md
Due: none

feat(root): use alexfalkowski/root:1.42
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

feat(root): use alexfalkowski/root:1.42 (#838)
  docker/Dockerfile
  docker/Makefile
  go/Dockerfile
  go/Makefile
  k8s/Dockerfile
  k8s/Makefile
  release/Dockerfile
  release/Makefile
  ruby/Dockerfile
  ruby/Makefile
Due: docker, go, k8s, release, ruby

chore(release): v1.437.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.183.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi to v3.183.0 (#839)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.438.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi v3.184.0
  k8s/Dockerfile
  k8s/Makefile
Due: none

feat(k8s): update pulumi v3.184.0 (#841)
  k8s/Dockerfile
  k8s/Makefile
Due: none

chore(release): v1.439.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): add cd
  Makefile
  release/Dockerfile
  release/Makefile
  release/release
Due: docker, go, k8s, monitoror, release, root, ruby

feat(release): add cd (#842)
  Makefile
  release/Dockerfile
  release/Makefile
  release/release
Due: docker, go, k8s, monitoror, release, root, ruby

chore(release): v1.440.0 [ci skip]
  CHANGELOG.md
Due: none

fix(release): make sure we always run uplift
  release/Makefile
  release/release
Due: release

fix(release): make sure we always run uplift (#844)
  release/Makefile
  release/release
Due: release

chore(release): v1.440.1 [ci skip]
  CHANGELOG.md
Due: none

feat(release): add gh
  release/Dockerfile
  release/Makefile
Due: release

feat(release): add gh (#845)
  release/Dockerfile
  release/Makefile
Due: release

chore(release): v1.441.0 [ci skip]
  CHANGELOG.md
Due: none

feat(release): set for name
  release/Makefile
  release/release
Due: release

feat(release): set ame for name
  release/Makefile
  release/release
Due: release

feat(release): set 65504name for name
  release/Makefile
  release/release
Due: release

feat(release): set name from var
  release/Makefile
  release/release
Due: release

feat(release): set name from var (#849)
  release/Makefile
  release/release
Due: release

chore(release): v1.442.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update pulumi to v3.185.0
  .circleci/continue_config.yml
  k8s/Dockerfile
  k8s/Makefile
Due: docker, go, k8s, monitoror, release, root, ruby

feat(k8s): update pulumi to v3.185.0 (#850)
  .circleci/continue_config.yml
  k8s/Dockerfile
  k8s/Makefile
Due: docker, go, k8s, monitoror, release, root, ruby

chore(release): v1.443.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  docker: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  go: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  k8s: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: docker/.*)
  monitoror: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: monitoror/.*)
  release: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: release/.*)
  root: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: root/.*)
  ruby: (((any of: .circleci/.*) or (any of: Makefile)) or (any of: make/docker.mk)) or (any of: ruby/.*)
